<div class="inline" *ngFor="let x of numArr(xLength)">
  <mine-grid *ngFor="let y of numArr(yLength)"
             (leftClick) = 'leftClick($event)'
             (rightClick) = 'rightClick($event)'
            [hasMine] = 'hasMine[coord(x,y)]'
            [unCovered] = 'unCovered[coord(x,y)]'
            [count]="count[coord(x,y)]"
            [coord]='coord(x,y)'
             [isOpen]="isOpen[coord(x,y)]">
  </mine-grid>
</div>
<div>totalMine:{{totalMine}}</div>
<div>leftMine:{{ totalMine - flagTag }}</div>
