.inline{
  height: 32px;
}

.center{
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex{
  display: flex;
  justify-content: space-around;
  width: 370px;
  margin: 10px auto auto auto;
}

*{
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

